@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html, body {
    font-family: 'Courier Prime', monospace;
    margin: 0;
    width: 100%;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section, header, footer {
    margin: 1em auto;
    max-width: 40em;
}

@media(max-width: 40em) {
    html, body {
        margin: 0.5em;
        width: calc(100% - 1em);
    }
}

h1, h2, h3 {
    font-weight: 400;
    margin: 2em 0 0.5em;
}

header ol {
    font-size: 0.9em;
    list-style: none;
    padding: 0;
    margin: 0;
}

header ol li {
    display: inline;
}

header ol li + li::before {
    content: ">";
    padding: 0 0.5em;
}

header {
    margin: 2em auto 1em;
    padding: 0;
}

footer {
    margin: 2em auto 4em;
}

footer p {
    font-size: 0.9em;
}

dl.tree {
    margin: 0;
    padding: 2px 2px;
    position: relative;
}

dl.tree::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-left: 2px solid #CCC;
    height: calc(100% - 1em);
}

section > dl.tree {
    overflow: auto;
}

dl.tree > dt > dl.tree {
    padding-top: 1em;
    margin-bottom: 1em;
}

dl.tree dt,
dl.tree dd {
    padding-left: 1em;
    position: relative;
}

dl.tree dt::before {
    content:'';
    position: absolute;
    top: 0;
    left: -2px;
    top: 0.6em;
    width: 0.6em;
    border: 2px solid #CCC;
    border-top: 0 none transparent;
    border-right: 0 none transparent;
}

dl.tree dd{
    margin: 0;
    color: #888;
    font-size: 0.9em;
}

li div img {
    max-width: 100%;
}


.images {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    height: 150px;
    margin: 2em auto 1em;
}

.images > img {
    display: block;
    width: 10px;
    max-height: 100%;
    flex: 1 1 auto;
    object-fit: contain;
    background: #F8F8F8;
    margin: 0.1em;
    align-self: flex-end;
}

img {
    cursor: pointer;
    /*border: 1px solid #000;*/
}

.title {
    text-align: center;
    font-size: 0.9em;
    color: #444;
    margin-bottom: 2em;
}

span.menu,
code {
    background-color: #DDD;
    padding: 0.1em 0.5em;
    white-space: nowrap;
    border-radius: 0.2em;
    font-family: inherit;
}

.quote {
    font-size: 0.9em;
    font-style: italic;
}

.quote-source {
    font-size: 0.9em;
    text-align: right;
    color: #888;
}

.video-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.video {
    padding-top:56.25%;
    position:relative;
}

.video.wide {
    padding-top:42.25%;
}

.video iframe{
    position:absolute;top:0;left:0;width:100%;height:100%;
}

p > img,
img.banner {
    display: block;
    padding: 0;
    margin: 2em 0;
    width: 100%;
}

p > img,
img.smaller {
    margin: 2em auto;
    max-width: 30em;
}

img.smallest {
    margin: 2em auto;
    max-width: 20em;
}

img.natural {
    margin: 2em auto;
    width: auto;
    max-width: 100%;
}

hr {
    border: solid 1px #EEE;
    margin: 4em 0;
}

span.it {
    font-style: italic;
}

div.algo {
    font-size: 1em;
    background: #EEE;
    padding: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    counter-reset: line;
    white-space: normal;
    overflow: scroll;
}

div.algo > span {
    display: block;
    white-space: pre;
}

div.algo > span:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: 1em;
    width: 1.5em;
    text-align: right;
    color: #888
}

span.mjx-chtml {
    overflow-x: auto;
    overflow-y: hidden;
}

span.mjx-chtml::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;
}




.img-frame {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(200, 200, 200, 0.7);
    backdrop-filter: blur(2px);
}

.img-frame img {
    max-width: calc(100% - 1em);
    max-height: calc(100% - 4em);
    margin: 1em auto;
    display: block;
    background: #FFF;
}